In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df =  pd.read_csv("CA_Vaccine_Data.csv") 
df

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag
0,All CA Counties,2020-12-15,1238,1238,1238,1238,0,0,0,0,1238,1238,0,0,1238,1238,NaN
1,All CA Counties,2020-12-16,9021,10259,9021,10259,0,0,0,0,9021,10259,0,0,9021,10259,NaN
2,All CA Counties,2020-12-17,27137,37396,27137,37396,0,0,0,0,27139,37398,0,0,27139,37398,NaN
3,All CA Counties,2020-12-18,46006,83402,45929,83325,77,77,0,0,46006,83403,1,1,46006,83404,NaN
4,All CA Counties,2020-12-19,25773,109175,25740,109065,33,110,0,0,25772,109174,1,2,25772,109176,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15309,Yuba,2021-08-14,138,53901,90,20333,47,30134,1,3434,75,4725,61,26202,76,30927,California
15310,Yuba,2021-08-15,85,53986,57,20390,28,30162,0,3434,61,4764,22,26224,61,30988,California
15311,Yuba,2021-08-16,216,54202,100,20490,96,30258,20,3454,136,4844,76,26300,156,31144,California
15312,Yuba,2021-08-17,189,54391,96,20586,88,30346,5,3459,113,4891,71,26371,118,31262,California
15313,Yuba,2021-08-18,130,54521,59,20645,59,30405,12,3471,77,4928,52,26423,89,31351,California

In [3]:
# RENAME ALL THE COLUMNS TO PROPERLY VISUALIZE!

In [4]:
df.rename(columns={'county':'California Counties','administered_date':'Dose Date YYY-DD-MM', 'total_doses':'Total Doses', 'cumulative_total_doses':'Cumulative Total',
                   'pfizer_doses': 'PFIZER', 'cumulative_pfizer_doses':'PFIZER TOTAL','moderna_doses':'MODERNA','cumulative_moderna_doses':'MODERNA TOTAL',
                     'jj_doses':'JANSSEN','cumulative_jj_doses':'JANSSEN TOTAL','partially_vaccinated':'Partially Vaccinated',
                       'total_partially_vaccinated':'TOTAL Partially Vaccinated','fully_vaccinated':'Fully Vaccinated','cumulative_fully_vaccinated':'TOTAL Fully Vaccinated',
                         'at_least_one_dose':'One Dose Taken','cumulative_at_least_one_dose':'TOTAL One Doses Taken'}, inplace = True)
df

,California Counties,Dose Date YYY-DD-MM,Total Doses,Cumulative Total,PFIZER,PFIZER TOTAL,MODERNA,MODERNA TOTAL,JANSSEN,JANSSEN TOTAL,Partially Vaccinated,TOTAL Partially Vaccinated,Fully Vaccinated,TOTAL Fully Vaccinated,One Dose Taken,TOTAL One Doses Taken,california_flag
0,All CA Counties,2020-12-15,1238,1238,1238,1238,0,0,0,0,1238,1238,0,0,1238,1238,NaN
1,All CA Counties,2020-12-16,9021,10259,9021,10259,0,0,0,0,9021,10259,0,0,9021,10259,NaN
2,All CA Counties,2020-12-17,27137,37396,27137,37396,0,0,0,0,27139,37398,0,0,27139,37398,NaN
3,All CA Counties,2020-12-18,46006,83402,45929,83325,77,77,0,0,46006,83403,1,1,46006,83404,NaN
4,All CA Counties,2020-12-19,25773,109175,25740,109065,33,110,0,0,25772,109174,1,2,25772,109176,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15309,Yuba,2021-08-14,138,53901,90,20333,47,30134,1,3434,75,4725,61,26202,76,30927,California
15310,Yuba,2021-08-15,85,53986,57,20390,28,30162,0,3434,61,4764,22,26224,61,30988,California
15311,Yuba,2021-08-16,216,54202,100,20490,96,30258,20,3454,136,4844,76,26300,156,31144,California
15312,Yuba,2021-08-17,189,54391,96,20586,88,30346,5,3459,113,4891,71,26371,118,31262,California
15313,Yuba,2021-08-18,130,54521,59,20645,59,30405,12,3471,77,4928,52,26423,89,31351,California

In [5]:
df.drop(["california_flag"],axis=1, inplace = True)
df.set_index('California Counties', inplace = True)
df.drop(labels = ["Unknown", "All CA and Non-CA Counties", "Outside California"], axis=0, inplace = True)
df.reset_index(inplace = True)
df

,California Counties,Dose Date YYY-DD-MM,Total Doses,Cumulative Total,PFIZER,PFIZER TOTAL,MODERNA,MODERNA TOTAL,JANSSEN,JANSSEN TOTAL,Partially Vaccinated,TOTAL Partially Vaccinated,Fully Vaccinated,TOTAL Fully Vaccinated,One Dose Taken,TOTAL One Doses Taken
0,All CA Counties,2020-12-15,1238,1238,1238,1238,0,0,0,0,1238,1238,0,0,1238,1238
1,All CA Counties,2020-12-16,9021,10259,9021,10259,0,0,0,0,9021,10259,0,0,9021,10259
2,All CA Counties,2020-12-17,27137,37396,27137,37396,0,0,0,0,27139,37398,0,0,27139,37398
3,All CA Counties,2020-12-18,46006,83402,45929,83325,77,77,0,0,46006,83403,1,1,46006,83404
4,All CA Counties,2020-12-19,25773,109175,25740,109065,33,110,0,0,25772,109174,1,2,25772,109176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14568,Yuba,2021-08-14,138,53901,90,20333,47,30134,1,3434,75,4725,61,26202,76,30927
14569,Yuba,2021-08-15,85,53986,57,20390,28,30162,0,3434,61,4764,22,26224,61,30988
14570,Yuba,2021-08-16,216,54202,100,20490,96,30258,20,3454,136,4844,76,26300,156,31144
14571,Yuba,2021-08-17,189,54391,96,20586,88,30346,5,3459,113,4891,71,26371,118,31262
14572,Yuba,2021-08-18,130,54521,59,20645,59,30405,12,3471,77,4928,52,26423,89,31351

In [6]:
for col in df:
    print(df[col].unique())

['All CA Counties' 'Alpine' 'Amador' 'Butte' 'Calaveras' 'Colusa'
 'Del Norte' 'Glenn' 'Humboldt' 'Imperial' 'Inyo' 'Kings' 'Lake' 'Lassen'
 'Madera' 'Marin' 'Mariposa' 'Mendocino' 'Merced' 'Modoc' 'Mono'
 'Monterey' 'Napa' 'Nevada' 'Plumas' 'San Benito' 'Santa Barbara' 'Shasta'
 'Sierra' 'Siskiyou' 'Stanislaus' 'Sutter' 'Tehama' 'Trinity' 'Tulare'
 'Tuolumne' 'Yuba' 'Alameda' 'Contra Costa' 'El Dorado' 'Fresno' 'Kern'
 'Los Angeles' 'Orange' 'Placer' 'Riverside' 'Sacramento' 'San Bernardino'
 'San Diego' 'San Francisco' 'San Joaquin' 'San Luis Obispo' 'San Mateo'
 'Santa Clara' 'Santa Cruz' 'Solano' 'Sonoma' 'Ventura' 'Yolo']
['2020-12-15' '2020-12-16' '2020-12-17' '2020-12-18' '2020-12-19'
 '2020-12-20' '2020-12-21' '2020-12-22' '2020-12-23' '2020-12-24'
 '2020-12-25' '2020-12-26' '2020-12-27' '2020-12-28' '2020-12-29'
 '2020-12-30' '2020-12-31' '2021-01-01' '2021-01-02' '2021-01-03'
 '2021-01-04' '2021-01-05' '2021-01-06' '2021-01-07' '2021-01-08'
 '2021-01-09' '2021-01-10' '2021-01-11' '2021-01-12' '2021-01-13'
 '2021-01-14' '2021-01-15' '2021-01-16' '2021-01-17' '2021-01-18'
 '2021-01-19' '2021-01-20' '2021-01-21' '2021-01-22' '2021-01-23'
 '2021-01-24' '2021-01-25' '2021-01-26' '2021-01-27' '2021-01-28'
 '2021-01-29' '2021-01-30' '2021-01-31' '2021-02-01' '2021-02-02'
 '2021-02-03' '2021-02-04' '2021-02-05' '2021-02-06' '2021-02-07'
 '2021-02-08' '2021-02-09' '2021-02-10' '2021-02-11' '2021-02-12'
 '2021-02-13' '2021-02-14' '2021-02-15' '2021-02-16' '2021-02-17'
 '2021-02-18' '2021-02-19' '2021-02-20' '2021-02-21' '2021-02-22'
 '2021-02-23' '2021-02-24' '2021-02-25' '2021-02-26' '2021-02-27'
 '2021-02-28' '2021-03-01' '2021-03-02' '2021-03-03' '2021-03-04'
 '2021-03-05' '2021-03-06' '2021-03-07' '2021-03-08' '2021-03-09'
 '2021-03-10' '2021-03-11' '2021-03-12' '2021-03-13' '2021-03-14'
 '2021-03-15' '2021-03-16' '2021-03-17' '2021-03-18' '2021-03-19'
 '2021-03-20' '2021-03-21' '2021-03-22' '2021-03-23' '2021-03-24'
 '2021-03-25' '2021-03-26' '2021-03-27' '2021-03-28' '2021-03-29'
 '2021-03-30' '2021-03-31' '2021-04-01' '2021-04-02' '2021-04-03'
 '2021-04-04' '2021-04-05' '2021-04-06' '2021-04-07' '2021-04-08'
 '2021-04-09' '2021-04-10' '2021-04-11' '2021-04-12' '2021-04-13'
 '2021-04-14' '2021-04-15' '2021-04-16' '2021-04-17' '2021-04-18'
 '2021-04-19' '2021-04-20' '2021-04-21' '2021-04-22' '2021-04-23'
 '2021-04-24' '2021-04-25' '2021-04-26' '2021-04-27' '2021-04-28'
 '2021-04-29' '2021-04-30' '2021-05-01' '2021-05-02' '2021-05-03'
 '2021-05-04' '2021-05-05' '2021-05-06' '2021-05-07' '2021-05-08'
 '2021-05-09' '2021-05-10' '2021-05-11' '2021-05-12' '2021-05-13'
 '2021-05-14' '2021-05-15' '2021-05-16' '2021-05-17' '2021-05-18'
 '2021-05-19' '2021-05-20' '2021-05-21' '2021-05-22' '2021-05-23'
 '2021-05-24' '2021-05-25' '2021-05-26' '2021-05-27' '2021-05-28'
 '2021-05-29' '2021-05-30' '2021-05-31' '2021-06-01' '2021-06-02'
 '2021-06-03' '2021-06-04' '2021-06-05' '2021-06-06' '2021-06-07'
 '2021-06-08' '2021-06-09' '2021-06-10' '2021-06-11' '2021-06-12'
 '2021-06-13' '2021-06-14' '2021-06-15' '2021-06-16' '2021-06-17'
 '2021-06-18' '2021-06-19' '2021-06-20' '2021-06-21' '2021-06-22'
 '2021-06-23' '2021-06-24' '2021-06-25' '2021-06-26' '2021-06-27'
 '2021-06-28' '2021-06-29' '2021-06-30' '2021-07-01' '2021-07-02'
 '2021-07-03' '2021-07-04' '2021-07-05' '2021-07-06' '2021-07-07'
 '2021-07-08' '2021-07-09' '2021-07-10' '2021-07-11' '2021-07-12'
 '2021-07-13' '2021-07-14' '2021-07-15' '2021-07-16' '2021-07-17'
 '2021-07-18' '2021-07-19' '2021-07-20' '2021-07-21' '2021-07-22'
 '2021-07-23' '2021-07-24' '2021-07-25' '2021-07-26' '2021-07-27'
 '2021-07-28' '2021-07-29' '2021-07-30' '2021-07-31' '2021-08-01'
 '2021-08-02' '2021-08-03' '2021-08-04' '2021-08-05' '2021-08-06'
 '2021-08-07' '2021-08-08' '2021-08-09' '2021-08-10' '2021-08-11'
 '2021-08-12' '2021-08-13' '2021-08-14' '2021-08-15' '2021-08-16'
 '2021-08-17' '2021-08-18']
[ 1238  9021 27137 ...   489   386   744]
[ 1238 10259 37396 ... 54202 54391 54521]
[ 1238  9021 27137 ...  1000  1224   302]
[ 1238 10259 37396 ... 20333 20390 20645]
[   0   77   33 ...  871 1733  669]
[    0    77   110 ... 30162 30258 30346]
[  0  33  15 ... 291 292 355]
[   0   33   48 ... 3454 3459 3471]
[ 1238  9021 27139 ...   811  1121  1031]
[ 1238 10259 37398 ...  4725  4764  4928]
[   0    1    2 ... 1502 1863 1977]
[    0     1     2 ... 26300 26371 26423]
[ 1238  9021 27139 ...  2194  1117  1038]
[ 1238 10259 37398 ... 31144 31262 31351]